GEMINI_API_KEY = "AIzaSyBojbAfuxORfwXhGiXXRDnJVsTBeU8BDwU"
APIFY_API_TOKEN = "apify_api_dSnQduqgBVvYORthtJetpu2eao8uCz0ZvhdV"
ANECDOTE_API_TOKEN = "Bearer gK9SLVp1Y0FMtfPWCLGdYmw4TPxBqdwAtXnIitFWCLcbN7lzkjE5wAEbjoxG"
PROJECT_ID = "mot-saudi"
API_URL = "https://public-api.anecdoteai.com/inject"
